.Login {
  color: black;
}

.card-image img{
  width: 100% !important;
  margin: 0 auto !important;
}
.card-image{
  height: 180px;
  width: 100%;
}

@media all and (max-width: 900px){
  .Login {
    padding: 10% 0;
    width: 70%;
    margin: 0 auto;
  }
  
}
@media all and (min-width: 901px) and (max-width: 1200px){
  .Login {
    padding: 10% 0;
    width: 50%;
    margin: 0 auto;
  }
  
}
@media all and (min-width: 1201px){
  .Login {
    padding: 10% 0;
    width: 40%;
    margin: 0 auto;
  }
  
}
  .card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content{
    max-height: none !important;
  }

  

  .row{
    display: block !important;
  }
  
  .card-content{
    height: 400px;
  }

.card.small{
    height: 550px !important;
    padding: 20px;
  }



div.input-field{
  margin: 0 auto !important;
  margin-top: 20px !important;
}

.btn.waves-effect.waves-light{
  display: block !important;
  margin: 0 auto !important;
  background-color: #49c2ff !important;
  color:white !important;
}

.btn.waves-effect.waves-light:hover{
  background-color: #49c2ff !important;
  color: white !important;
}

.error {
  font-size: 14px;
  font-style: italic;
  color: red;
  text-align: center;
}